{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<body class="is-preload">

	<div id="wrapper">

		<nav id="nav">
			<a href="{{ path('home') }}" class="icon solid fa-home"><span>Accueil</span></a>
			<a href="{{ path('opening_hours') }}" class="icon solid fa-clock"><span>Les horaires</span></a>
			<a href="{{ path('price') }}" class="icon solid fa-euro-sign"><span>Les tarifs</span></a>
			<a href="{{ path('choice') }}" class="icon solid fa-ticket-alt active"><span>Réservation</span></a>
		</nav>

	<div id="main">
			
		<article id="billetterie" class="panel">
			<header>
				<h2>{{ title }}</h2>
			</header>
{{ form_start(choiceForm) }}

{{ form_end(choiceForm) }}

		</article>
	</div>
	</div>
</body>

{% endblock %}
