{% extends 'base.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}
        
    <body class="is-preload">

	<div id="wrapper">

		<nav id="nav">
			<a href="{{ path('home') }}" class="icon solid fa-home"><span>Accueil</span></a>
			<a href="{{ path('opening_hours') }}" class="icon solid fa-clock"><span>Les horaires</span></a>
			<a href="{{ path('price') }}" class="icon solid fa-euro-sign"><span>Les tarifs</span></a>
			<a href="{{ path('choice') }}" class="icon solid fa-ticket-alt"><span>Réservation</span></a>
		</nav>
	
    <div id="main">

		<article id="home" class="panel intro">
			<header>
				<h1>{{ title }}</h1>
				<p>{{ paragraph }}</p>
			</header>
			<a href="horaires" class="jumplink pic">
				<span class="arrow icon solid fa-chevron-right"><span>Voir les horaires</span></span>
				<img src="images/monalisa.jpg" alt="" />
			</a>
		</article>

		

  
{% endblock %}
