{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<body class="is-preload">

	<div id="wrapper">

		<nav id="nav">
			<a href="{{ path('home') }}" class="icon solid fa-home"><span>Accueil</span></a>
			<a href="{{ path('opening_hours') }}" class="icon solid fa-clock"><span>Les horaires</span></a>
			<a href="{{ path('price') }}" class="icon solid fa-euro-sign active"><span>Les tarifs</span></a>
			<a href="{{ path('choice') }}" class="icon solid fa-ticket-alt"><span>Réservation</span></a>
		</nav>

	<div id="main">
			
		<article id="tarifs" class="panel">
			<header>
				<h2>{{ title }}</h2>
			</header>
				
			<div class="table-wrapper">
				<table>
					<tbody>
						<thead>
							<tr>
								<th></th>
								<th>Tarif Journée</th>
								<th>Tarif Demi-journée*</th>
							</tr>
						</thead>
							<tr>
								<td>Tarif enfant (de 4 à 11 ans)**</td>
								<td>{{ fullPriceChild }}€</td>
								<td>{{ halfPriceChild }}€</td>
							</tr>
							<tr>
								<td>Tarif normal (de 12 à 59 ans)</td>
								<td>{{ fullPriceNormal }}€</td>
								<td>{{ halfPriceNormal }}€</td>
							</tr>
							<tr>
								<td>Tarif senior (à partir de 60 ans)</td>
								<td>{{ fullPriceSenior }}€</td>
								<td>{{ halfPriceSenior }}€</td>
							</tr>
							<tr>
								<td>Tarif réduit***</td>
								<td>{{ fullPriceReduction }}€</td>
								<td>{{ halfPriceReduction }}€</td>
							</tr>	
						</tbody>
					</table>
				</div>	
			<p>* Entrée à partir de 14h<br/>
			   ** Gratuit pour les moins de 4 ans<br/>
			   *** Votre carte étudiant, militaire ou équivalent pourra vous être demandée à l'entrée du musée.<br/>
		
			<a href="billetterie" class="jumplink pic">
				<span class="arrow icon solid fa-chevron-right"><span>Voir les tarifs</span></span>		
			</a>
		</article>	
	</div>
	<div id="footer">
		<ul class="copyright">
			<li>Mentions légales</li><li>&copy; Musée du Louvre - Tous droits de reproduction réservés</li><li><a href="www.louvre.fr">Retour sur le site du Musée</a></li><li>Tél : 01 40 20 50 50</li>
		</ul>
	</div>
{% endblock %}