{% extends 'base.html.twig'%}

{% block body %}
 
    
        <div id="wrapper">
            <nav id="nav">
                <a href="{{ path('home') }}" class="icon solid fa-home"><span>Accueil</span></a>
                <a href="{{ path('opening_hours') }}" class="icon solid fa-clock"><span>Les horaires</span></a>
                <a href="{{ path('price') }}" class="icon solid fa-euro-sign"><span>Les tarifs</span></a>
                <a href="{{ path('choice') }}" class="icon solid fa-ticket-alt active"><span>Réservation</span></a>
		    </nav>

        <div id="main">
            <article id="billetterie" class="panel">
                <h2>{{ title }}</h2><br/>
                <h4>Merci de vérifier les informations avant de procéder au paiement.</h4><br/>

                <p>Numéro de commande : {{ orderCode }} <br/>
                {#Date de commande : {{ orderDate | date('d/m/Y') }}<br/>#}
                Date de la visite : {{ visitDate | date('d/m/y') }}<br/>

                Durée de la visite : 
                {% if visitDuration == 1 %} Journée<br/>
                {% else %} Demi-journée<br/>
                {% endif %}
                Nombre de billets : {{ numberTickets }}<br/>
                Prix total de la commande : {{ totalPrice }}</p>

                {% for ticket in tickets %}

                    <p>Nom et prénom : {{ ticket.visitorName }}</br>
                    Date de naissance : {{ ticket.visitorBirthday | date('d/m/Y') }}</br>
                    {% if ticket.reduction %}Bénéficie d'une réduction
                    {% else %}Ne bénéficie pas de réduction
                    Prix du billet : {{ ticket.price }}€</br>
                    {% endif %}</p>
                
                {% endfor %}

                <p>Nom et prénom du client : {{ clientName }}<br/>
                Adresse du client : {{ address }}<br/>
                Email du client : {{ email }} </p>

                

                <form action="{{ path('paiement') }}">
                    <button type="submit">Payer la commande</button>
                </form>
                

</article>
	    </div>
	    </div>
    </body>

{% endblock %}

