{% extends 'base.html.twig'%}

{% block body %}
 
    
        <div id="wrapper">
            <nav id="nav">
                <a href="{{ path('home') }}" class="icon solid fa-home"><span>Accueil</span></a>
                <a href="{{ path('opening_hours') }}" class="icon solid fa-clock"><span>Les horaires</span></a>
                <a href="{{ path('price') }}" class="icon solid fa-euro-sign"><span>Les tarifs</span></a>
                <a href="{{ path('choice') }}" class="icon solid fa-ticket-alt active"><span>Réservation</span></a>
		    </nav>

        <div id="main">
            <article id="billetterie" class="panel">
                <h2>{{ title }}</h2><br/>
                <h5>Merci de vérifier les informations avant de procéder au paiement.</h5><br/>
               
                <h4>Détails de la commande</h4></br>
                <p>Numéro de commande : {{ orderCode }} <br/>
                {#Date de commande : {{ orderDate | date('d/m/Y') }}<br/>#}
                Date de la visite : {{ visitDate | date('d/m/y') }}<br/>

                Durée de la visite : 
                {% if visitDuration == 1 %} Journée<br/>
                {% else %} Demi-journée<br/>
                {% endif %}
                Nombre de billets : {{ numberTickets }}<br/>
                Prix total de la commande : {{ totalPrice }}€</p>

                {% if numberTickets>1 %}
                <h4>Détails des billets</h4></br>
                {% else %}<h4>Détail du billet</h4></br>
                {% endif %}


                {% for ticket in tickets %}
                    {% if numberTickets>1 %}
                    <h5>Visiteur n°{{ loop.index }}</h5>
                    {% endif %}
                    <p>Nom et prénom : {{ ticket.visitorName }}</br>
                    Date de naissance : {{ ticket.visitorBirthday | date('d/m/Y') }}</br>
                    {% if ticket.reduction %}Bénéficie d'une réduction - Une pièce justificative pourra vous être demandée.</br>
                    {% else %}Ne bénéficie pas de réduction</br>
                    {% endif %}
                    Prix du billet : {{ ticket.price }}€</p>  
                    
                {% endfor %}
                
                <h4>Profil du client</h4></br>
                <p>Nom et prénom : {{ clientName }}<br/>
                Adresse : {{ address }}<br/>
                Email : {{ email }} </p>

                

                <form action="{{ path('paiement') }}">
                    <button type="submit">Payer la commande</button>
                </form>
                

</article>
	    </div>
	<div id="footer">
		<ul class="copyright">
			<li>Mentions légales</li><li>&copy; Musée du Louvre - Tous droits de reproduction réservés</li><li><a href="http://www.louvre.fr">Retour sur le site du Musée</a></li><li>Tél : 01 40 20 50 50</li>
		</ul>
	</div>
	    </div>
    </body>

{% endblock %}

