<h1>{{ title }}</h1>

<p>Numéro de commande : {{ orderCode }} </p>
<p>Date de commande : {{ orderDate | date('d/m/Y') }}</p>
<p>Date de la visite : {{ visitDate | date('d/m/y') }}</p>

<p>Durée de la visite : 
{% if visitDuration == 1 %} Journée
{% else %} Demi-journée</p>
{% endif %}
<p>Nombre de billets : {{ numberTickets }}</p>
<p>Prix total de la commande : {{ totalPrice }} </p>

{#{% for i in numberTickets %}
<p>Visiteur {{ i }}</p>#}
<p>Nom et prénom : {{ name }}</p>
<p>Prix du billet : {{ price }}</p>
{#{% endfor %}#}

<p>Merci de vérifier les informations avant de procéder au paiement<p>
<a href="/billetterie/paiement"class="btn btn-success">Payer</a>
		