{% extends 'base.html.twig' %}

{% block body %}

<div id="wrapper">
    <nav id="nav">
        <a href="{{ path('home') }}" class="icon solid fa-home"><span>Accueil</span></a>
        <a href="{{ path('opening_hours') }}" class="icon solid fa-clock"><span>Les horaires</span></a>
        <a href="{{ path('price') }}" class="icon solid fa-euro-sign"><span>Les tarifs</span></a>
        <a href="{{ path('choice') }}" class="icon solid fa-ticket-alt active"><span>Réservation</span></a>
	</nav>
    <div id="main">
        <article id="visitors_designation" class="panel">
            {{ form_start(form_collection) }} 
            {% if numberTickets>1 %}
            {% set i = currentVisitor %}
				<h4>Informations concernant le visiteur n°{{ i }}</h4></br>
            {% else %}<h4>Informations concernant le visiteur</h4></br>
            {% endif %}        
                {{ form_row(form_collection.visitorName) }}</br>
				{{ form_row(form_collection.visitorBirthday) }}</br>
				{{ form_row(form_collection.country) }}</br>
				{{ form_row(form_collection.reduction) }}</br>
             
        
           {{ form_end(form_collection) }}
    
        </article>
    </div>
</div>

{% endblock %}
