{% extends 'base.html.twig' %}

{% block body %}



<div id="wrapper">
    <nav id="nav">
        <a href="{{ path('home') }}" class="icon solid fa-home"><span>Accueil</span></a>
        <a href="{{ path('opening_hours') }}" class="icon solid fa-clock"><span>Les horaires</span></a>
        <a href="{{ path('price') }}" class="icon solid fa-euro-sign"><span>Les tarifs</span></a>
        <a href="{{ path('choice') }}" class="icon solid fa-ticket-alt active"><span>Réservation</span></a>
	</nav>
    <div id="main">
        <article id="billetterie" class="panel">
            {{ form_start(form_collection) }}
         {#  {% for ticket in form_collection.tickets %}#}
            
                {{ form_row(form_collection.visitorName) }}</br>
				{{ form_row(form_collection.visitorBirthday) }}</br>
				{{ form_row(form_collection.country) }}</br>
				{{ form_row(form_collection.reduction) }}</br>
        {#     {% endfor %}#}
           {{ form_end(form_collection) }}
            
{#<form action="" method="POST" data-qty="{{numberTickets}}" id="formToComplete">
<input type="submit">
</form>#}

        </article>
    </div>
</div>


{% endblock %}

{% block javascripts %}
<script src="/js/ticketForm.js"></script>
<script src="/js/runForm.js" defer></script>
{% endblock %}